@font-face {
    font-family: Billabong; /* Гарнитура шрифта */
    src: url(../fonts/hpfluhSd.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: VellgishFont; /* Гарнитура шрифта */
    src: url(../fonts/FAGhM22r.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: fectus!; /* Гарнитура шрифта */
    src: url(../fonts/c31vSvDU.ttf); /* Путь к файлу со шрифтом */
}

div h1{
	font-family: 'VellgishFont', serif;
	color: white;
	text-align: center;
	margin-top: 40px;
}


@font-face {
  font-family: 'FontAwesome';
  src: url('http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.eot?v=4.1.0');
  src: ;
  src: url('http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/onts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
div.about-me{
	padding-right: 0;
	border-right: 1px solid #ddd;
}
.row {
	margin: 0;
}
.resume{
	background: #19A3D9;
}
.portfolio{
	background: #33ADDD;
}
.contact{
	background: #4CB7E1;
}
.row > div {
	 height:100vh;
	 cursor: pointer;
	 padding: 0;
	 
}
.photo{
	text-align: center;	
}
.detail{
	text-align: center;
	color: white;
	font-family: "APCCourier-Regular";
	font-size: 18px;
	opacity: 0;
	margin-top: -10px;
}
.icon{
  font-family: FontAwesome;
  color: rgba(255,255,255,.5);
  font-size: 50px;
  position: absolute;
  bottom: 50px;
  transition: 0.2s color ease;  
  left: 50%;
    margin-left: -25px;
}
.logo{
	width: 190px;
    display: block;
    margin: 0 auto 10px;
    opacity: .85
}
.dev>span{
	display: block;
    color: #6F6F6F;
    text-align: center;
}
.icon-resume:before{
	content: "\f016";
}
.icon-portfolio:before{
	content: "\f0b1";
}
.icon-contact:before{
	content: "\f003";
}
.portfolio-img{
	width: 110px;
}
.summary{
	margin-top: 50px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 30px;
}

.first-word{
    font-size: 57px;
    line-height: 5.5rem;
    padding-right: 7px;
    font-family: TIME;
    float: left;
}
.else-text{
    font-size: 20px;
    font-family: TIMES;
}

.hi {
	padding: 0 75px;
	height: 140px;
	border-bottom: 1px solid #ddd;
}

.button{
	margin-top: 30px;
}
.download{
	position: relative;
	padding: 15px 20px 15px 0px;
    border: 1px solid #BBBBBB;
    color: #BBBBBB;
    border-radius: 5px;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 170px;
}

.download:hover{
	text-decoration: none;
	color: #BBBBBB;
}

.load-logo {
  font-family: FontAwesome;
  color: #BBBBBB;
  position: absolute;
  right: 24px;
  
}
a.social.skype{
	right: 47%;
}
a.social.vkontakte{
	right: 41%;
}
a.social.facebook{
	right: 57%;
}
a.social.linkedIn{
	right: 52%;
}
.social{
  font-family: FontAwesome;
  color: #19A3D9;
  position: absolute;
  bottom: 40px;
  font-size: 20px;
}

.skype:before{
 content: "\f17e";
}
.vkontakte:before{
	content: "\f189";
}
.load-logo:before {
    content: "\f019";
}

.facebook:before {
    content: "\f09a";
}

.linkedIn:before{
	content: "\f08c";
}

.main-content{
	opacity: 0;
	background: white;
	display: none;
	cursor: default;
}

.container-info-title{
	color: #19A3D9;
	font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
}
.ed-title{
	text-transform: uppercase;
	text-transform: uppercase;
    font-size: 17px;
    font-weight: bolder;
}
.ed-description{
	padding: 15px 20px;
    background-color: #EAEAEA;
    border-radius: 4px;
    margin-top: 15px;
    position: relative;
    width: 94%;
}
.ed-year{
	margin-top: 5px;
	color: #999999;
	font-weight: bolder;	
}
.ed-description::before{
	content: '';
	position: absolute;
	background: #EAEAEA;
	height: 18px;
    width: 15px;
    top: -8px;
    left: 25px;
	transform: rotate(135deg);
	 -webkit-transform: rotate(135deg);
}
.ed-info{
	padding-left: 70px;
}
.main-title{
	color: #19A3D9;
	margin-top: 0;
	text-align: left;
}

.case{
	font-family: FontAwesome;
    top: 0px;
    color: white;
    position: absolute;
    background-color: #19A3D9;
    width: 50px;
    border-radius: 50px;
    height: 50px;
}
.case:before {
	position: absolute;
    content: "\f0b1";
    left: 13px;
    top: 9px;
    font-size: 25px;
}
.ed-item{
	position: relative;
	margin-bottom: 25px;
}
.item-container{
	position: relative;

}

content: "\f041";.item-container:before{
	content: "";
    height: 100%;
    width: 3px;
    background: #dfdfdf;
    position: absolute;
    left: 23px;
    top: 0;
    bottom: 0;
}

.close-content{
	position: absolute;
    top: 20px;
    right: 40px;
    color: #9F9F9F;
    font-size: 32px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
}
.skill-title{
	color: #bbb;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bolder;
}
.skill-bar-main{
	width: 100%;
    height: 16px;
    background: #dfdfdf;
    border-radius: 3px;
}
.skill-bar-web{
	width: 80%;
    height: 16px;
    background: #19A3D9;
    border-radius: 3px;
}
.skill-bar-js{
	width: 70%;
    height: 16px;
    background: #19A3D9;
    border-radius: 3px;
}
.skill-bar-boot{
	width: 50%;
    height: 16px;
    background: #19A3D9;
    border-radius: 3px;
}

div.skills.col-lg-5{
	
	height: 100%;
	
}

.skill-item:nth-child(4) {
	padding-bottom: 60px;
	margin-bottom: 40px;
	border-bottom: 1px solid #ddd;
}

span.glyphicon{
	font-family: FontAwesome;
}
.carousel-description{
	height: 70px;
	padding: 15px 20px;
	background: #19A3D9;
	color: white;
	margin-top: 25px;
	position: relative;
	border-radius: 4px;
}

.carousel-description:before{
	content: '';
    position: absolute;
    background: #19A3D9;
    height: 18px;
    width: 15px;
    top: -8px;
    left: 37px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#carousel{
	max-height: 185px;
	width: 100%;
}

ol.carousel-indicators{
	position: absolute;
    bottom: -60px;
}

ol.carousel-indicators>li{
	background-color: #EAEAEA;
	width: 14px;
    height: 14px;
}

ol.carousel-indicators>li.active{
	background-color: #19A3D9;
	width: 14px;
    height: 14px;
}

img.big-boss-photo{
	width: 85px;
    height: 85px !important;
    border-radius: 50px;
}
.name-boss{
	position: absolute;
    top: 20px;
    left: 103px;
    font-weight: bolder;
}
.company-name{
	position: absolute;
    top: 42px;
    left: 103px;
}

.item{
	border-radius: 4px;
}
.switch-category{
	list-style: none;
	padding-left: 0;
}
.switch-category>li{
	display: inline-block;
	margin-right: 15px;
	padding: 10px 15px;
	background-color: #EAEAEA;
	color: #666666; 
	font-weight: bolder;
	cursor: pointer;
}

.switch-category>li.active{
	background-color: #19A3D9;
	color: white;
}
#map {
    height: 100%;
}
.map-container{
	width: 100%;
	
}
address{
	margin: 0;
	background-color: #19A3D9;
}
input{
	width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 4px;
}
textarea{
	width: 100%;
    padding: 9px;
    margin-bottom: 20px;
    border-radius: 4px;
    height: 110px;
}
.send-mes{
	padding: 13px;
    border-radius: 4px;
    font-weight: bolder;
    background-color: #EAEAEA;
    border: 1px solid #EAEAEA;
    color: #717171;
}

.send-mes:hover{
	padding: 11px;
    border-radius: 4px;
    background-color: #19A3D9;
    border: 1px solid #19A3D9;
    color: white;
    font-weight: bolder;
}

#google-container{
	margin-bottom: 30px;
}

.contact-info{
	display: block;
    margin-bottom: 12px;
    color: #717171;
    font-size: 17px;
    margin-left: 25px;
    position: relative;
}
.city:before{
	content: "\f041";
	font-family: FontAwesome;
	color: #19A3D9;
	position: absolute;
	left: -22px;
    font-size: 24px;
    top: -5px;

}
.mail:before{
	content: "\f003";
	font-family: FontAwesome;
	color: #19A3D9;
	position: absolute;
	left: -23px;
    font-size: 18px;
    top: -1px;

}
.phone:before{
	content: "\f095";
	font-family: FontAwesome;
	color: #19A3D9;
	position: absolute;
	left: -22px;
    font-size: 20px;
    top: -4px;
}
.error{
	border: 1px solid #e74c3c ;
    background: url("../fonts/attention.svg") no-repeat;
    background-size: 18px;
    background-position: calc(100% - 15px) 15px;
}
}